[Unit]
Description=Push varnish logs into Kafka
After=varnish.service
Requires=varnish.service

[Service]
User=root
ExecStart=/usr/bin/varnishkafka
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
